* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    text-shadow: 1px  0px 0px #e61e93,
                 0px  1px 0px #e61e93,
                -1px  0px 0px #e61e93,
                 0px -1px 0px #e61e93;
}

body {
    background: linear-gradient(#f04bb3 0%, #e8359d 33.33%, #f0219a 66.67%, #e61e93 100%);
    background-image: url(./img/fondo.png);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


body::before {
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #e8359d;
    box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.15);
    background-image: url(./img/contenedor.png);
    background-size: 100% 100%;
    position: relative;
}


.container__contenido {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informaciones {
    flex: 1;
    padding: 3rem;
}

.container__boton {
    border-radius: 16px;
    background: #ec8ab6;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

.container__boton:disabled {
    background: #898989;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #ec8ab6;
    border: none;
    color: #ffffff;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Chakra Petch', sans-serif;
}

.container__botones {
    display: flex;
    gap: 2em;
}

h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 60px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Chakra Petch', sans-serif;
}

.texto__parrafo {
    font-size: 32px;
    font-weight: 400;
}
